@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: '\201C''\201D''\2018''\2019';
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.room figure,
#calendar {
  overflow: hidden;
}
.room figure:before,
#calendar:before,
.room figure:after,
#calendar:after {
  content: ' ';
  display: table;
}
.room figure:after,
#calendar:after {
  clear: both;
}
.menu li,
.intro h1,
.intro p,
.text h1 {
  font-family: 'EB Garamond', Georgia, sans-serif;
}
p,
li,
.text h2,
.text h3,
.room > h2,
.room h3,
.calendar h2,
.calendar table {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
}
figure {
  margin: 0 0 10px;
}
p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
}
ul {
  margin: 0 0 10px;
  padding: 0 15px;
}
li {
  font-size: 14px;
  line-height: 15px;
  margin: 0 0 5px 30px;
  padding: 0;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 20px;
}
h2 + figure {
  margin-top: 15px;
}
h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px;
}
section a,
footer a {
  color: #0059b2;
  text-decoration: none;
  outline: none !important;
}
section a:focus,
section a:active,
section a:hover,
footer a:focus,
footer a:active,
footer a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1100px) {
  p {
    font-size: 20px;
    line-height: 30px;
  }
  li {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 5px 30px;
  }
}
html {
  background-color: #c7c1be;
  height: 100%;
}
.container {
  background-color: #c7c1be;
  min-height: 100%;
  overflow-x: hidden;
}
.page {
  background-color: #c7c1be;
  height: 100%;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 2;
  min-height: 400px;
}
.content {
  padding: 0;
  position: relative;
  z-index: 2;
}
.js.csstransitions .content section {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
}
.js.csstransitions .content footer {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.js.csstransitions .content.destroy section,
.js.csstransitions .content.destroy footer {
  opacity: 0;
}
.js.csstransitions .content.new section,
.js.csstransitions .content.new footer {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.js.csstransitions .content.loaded section {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 1s 0.1s, -webkit-transform 1s 0.1s;
  transition: opacity 1s 0.1s, transform 1s 0.1s;
}
.js.csstransitions .content.loaded footer {
  opacity: 1;
  -webkit-transition: opacity 1s 0.7s;
  transition: opacity 1s 0.7s;
}
section {
  margin: 0 auto;
  max-width: 560px;
  min-width: 280px;
  padding: 0;
}
figure img {
  height: auto;
  width: 100%;
}
@media screen and (min-height: 400px) {
  .main {
    min-height: 500px;
  }
}
@media screen and (min-width: 560px) {
  .content {
    padding: 0 15px;
  }
}
@media screen and (min-width: 830px) {
  html {
    height: 100%;
  }
  body {
    background-color: #333;
    height: 100%;
    min-height: 100%;
    padding-left: 220px;
  }
}
@media screen and (min-width: 1100px) {
  html {
    background-color: #c7c1be;
    height: 100%;
  }
  body {
    background-color: #c7c1be;
    height: 100%;
    min-height: 100%;
    padding-left: 0;
  }
  section {
    max-width: 830px;
    width: 830px;
  }
  .content {
    padding: 0;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.loading .container::after {
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: rotate;
  -moz-animation-timing-function: linear;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-name: rotate;
  -ms-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: transparent url('/assets/images/spinner.png') 0 0 no-repeat;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  content: '';
  display: block;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0.2;
  position: absolute;
  top: 300px;
  width: 40px;
  z-index: 0;
}
@media screen and (min-width: 830px) {
  .loading .container::after {
    margin-left: 90px;
  }
}
@media screen and (min-width: 1100px) {
  .loading .container::after {
    margin-left: -20px;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
header {
  background-color: #c7c1be;
  border-bottom: 1px solid #afa7a3;
  height: 44px;
  position: relative;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#showNav {
  display: block;
  height: 44px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-indent: -100%;
  top: 0;
  width: 44px;
  z-index: 2;
}
#showNav::before {
  border-bottom: 3px solid #333;
  border-top: 9px double #333;
  content: '';
  height: 3px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
}
.header-inner h1 {
  display: none;
}
.header-inner > a {
  display: block;
  height: 39px;
  left: 0;
  overflow: hidden;
  padding: 5px 5px 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.header-inner > a img {
  width: 45px;
}
.header-inner li:last-child {
  display: none;
}
@media screen and (min-width: 830px) {
  header {
    max-width: 560px;
    margin: 0 auto;
    height: 80px;
  }
  .header-inner > a {
    height: 78px;
    left: 50%;
    margin-left: -38px;
    top: 15px;
    width: 60px;
  }
  .header-inner > a img {
    height: auto;
    width: 60px;
  }
  .header-inner li {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  header {
    height: 135px;
    margin: 0 auto;
    max-width: 830px;
  }
  .header-inner > a {
    height: 81px;
    margin-left: -71px;
    top: 30px;
    width: 110px;
  }
  .header-inner > a img {
    height: auto;
    width: 110px;
  }
  .header-inner li {
    display: none;
  }
}
.menu {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.js .menu {
  height: 0;
  -webkit-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}
.js .show-menu .menu {
  height: 275px;
}
.menu ul {
  background-color: #333;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px #111 solid;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu a {
  color: #ccc;
  display: block;
  letter-spacing: 2px;
  line-height: 40px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.no-touch .menu a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.page-home .nav-home a,
.page-the-cottage .nav-the-cottage a,
.page-the-stables .nav-the-stables a,
.page-about-the-village .nav-about-the-village a,
.page-things-to-do .nav-things-to-do a,
.page-getting-here .nav-getting-here a {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
}
@media screen and (min-width: 830px) {
  .menu {
    -moz-transition: 0;
    -webkit-transition: 0;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    -webkit-transition: 0;
    transition: 0;
    width: 100%;
  }
  .menu ul {
    height: 4000px;
    position: fixed;
    width: 220px;
  }
}
@media screen and (min-width: 1100px) {
  body {
    background-color: #c7c1be;
    padding-left: 0;
  }
  .menu,
  .js .menu {
    border-bottom: 1px solid #afa7a3;
    height: auto;
    margin: 0 auto 30px;
    min-height: 0;
    padding: 24px 0 15px;
    position: static;
    text-align: center;
    top: auto;
    width: 830px;
  }
  .menu ul {
    background-color: transparent;
    display: inline-block;
    height: auto;
    position: static;
    width: auto;
  }
  .menu li {
    border: 0;
    float: left;
    padding: 0 15px;
    width: auto;
  }
  .menu a {
    color: black;
    padding: 0;
    line-height: 25px;
    color: #000;
    font-size: 13px;
    letter-spacing: 0.05em;
  }
  .page-home .nav-home a,
  .page-the-cottage .nav-the-cottage a,
  .page-the-stables .nav-the-stables a,
  .page-about-the-village .nav-about-the-village a,
  .page-things-to-do .nav-things-to-do a,
  .page-getting-here .nav-getting-here a {
    background-color: transparent !important;
    color: #8c807a;
    font-weight: normal;
    position: relative;
  }
}
.intro {
  padding: 0 15px 10px;
  text-align: left;
}
.intro h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 50px;
  margin: 10px 0 0;
}
.intro p {
  font-size: 20px;
  line-height: 25px;
}
@media screen and (min-width: 560px) {
  .intro {
    padding: 0 0 10px;
  }
}
@media screen and (min-width: 830px) {
  .intro h1 {
    font-size: 35px;
    line-height: 50px;
    margin: 10px 0 5px;
  }
  .intro p {
    font-size: 23px;
    line-height: 30px;
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 1100px) {
  .intro {
    width: 830px;
  }
  .intro h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 50px 0 20px;
  }
  .intro p {
    font-size: 28px;
    line-height: 40px;
    margin: 0 0 50px;
  }
}
.text {
  padding: 0 0 10px;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text p,
.text ul,
.text ol {
  padding: 0 15px;
}
.text h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 50px;
  margin: 10px 0 0;
}
.text h2 {
  font-weight: 400;
  margin: 20px 0 10px;
}
.text h3 {
  font-weight: 400;
  margin: 10px 0 5px;
}
.text ul {
  margin: 0 0 15px;
  padding: 0 15px 5px;
}
.text li {
  list-style: none;
  margin: 0 0 5px;
  line-height: 20px;
  position: relative;
  padding: 0 0 0 1em;
}
.text ul:last-child,
.text li:last-child,
.text p:last-child {
  margin-bottom: 0;
}
.text li:before {
  content: '•';
  font-size: 10px;
  display: inline-block;
  left: 0;
  position: absolute;
}
.text ul + ul:last-child {
  margin: -15px 0 0;
}
.intro + .text {
  padding: 0 0 10px;
}
.attraction {
  padding-top: 10px;
}
@media screen and (min-width: 560px) {
  .text h1,
  .text h2,
  .text h3,
  .text h4,
  .text p,
  .text ul,
  .text ol {
    padding: 0;
  }
  .text {
    padding: 0 0 10px;
  }
  .text:last-child {
    padding: 0 0 20px;
  }
  .text ul:last-child {
    margin: 0;
    padding: 0;
  }
  .text ul + ul:last-child {
    margin: -10px 0 0;
  }
}
@media screen and (min-width: 830px) {
  .text {
    padding: 10px 0;
  }
  .text:last-child {
    padding: 10px 0 20px;
  }
  .intro + .text {
    padding: 0 0 10px;
  }
}
@media screen and (min-width: 1100px) {
  .text,
  .text:last-child {
    padding: 20px 0;
  }
  .intro + .text {
    padding: 0 0 20px;
  }
  .text h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0 20px;
  }
  .text h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
  }
  .text ul {
    margin: 0;
    padding: 0 0 25px;
  }
  .text li {
    line-height: 30px;
    margin: 0 0 15px;
  }
  .text ul:last-child,
  .text li:last-child,
  .text p:last-child {
    margin-bottom: 0;
  }
}
.room {
  position: relative;
  margin-bottom: 15px;
  padding: 15px 0 0;
}
.room:first-child {
  padding-top: 0;
}
.room > h2 {
  font-weight: 400;
  padding: 0 15px;
}
.room h3 {
  font-weight: 400;
  margin-top: 20px;
  padding: 0 15px;
}
.room figure {
  margin: 0 0 20px;
}
.room figure img {
  float: left;
}
.room ul {
  margin: 0;
  padding: 0 15px 5px;
}
.room li {
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.room li:before {
  content: '•';
  font-size: 10px;
  line-height: 25px;
  padding: 0 1em 0 0;
  display: inline-block;
}
.room p {
  padding: 0 15px;
}
.room + .gallery {
  margin-top: 20px;
}
@media screen and (min-width: 560px) {
  .room {
    padding: 15px 0 0;
  }
  .room h2,
  .room h3,
  .room p,
  .room ul {
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .room {
    margin-bottom: 30px;
    padding: 30px 0 0;
  }
  .room h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .room h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
  }
  .room ul {
    margin: 0;
    padding: 0 0 5px;
  }
  .room li,
  .room li:before {
    line-height: 40px;
  }
  .room figure {
    margin: 0 0 40px;
  }
}
.key {
  padding: 10px 0 0;
}
.key span {
  display: block;
  float: left;
  height: 24px;
  margin-right: 10px;
  width: 24px;
}
.key .available span {
  background-color: #818c39;
}
.key .unavailable span {
  background-color: #c2a7a7;
}
.calendar {
  margin-bottom: 0;
  padding: 15px 15px 0;
  position: relative;
}
.calendar h2 {
  font-weight: 400;
}
#calendar {
  margin-top: 25px;
}
.calendar table {
  font-weight: 400;
  float: left;
  margin: 0 0 20px 0;
  width: 100%;
}
.calendar table:last-child {
  margin: 0 0 13px 0;
}
.calendar table th {
  font-size: 13px;
  line-height: 16px;
  padding: 2px 0;
  text-align: left;
}
.calendar table tr.days th {
  color: #99918b;
  font-weight: normal;
  text-align: center;
}
.calendar table tr.unavailable td span {
  background-color: #c2a7a7;
  color: #dedbd9;
}
.calendar table td {
  padding: 1px;
}
.calendar table td span {
  background-color: #818c39;
  color: #d3cecc;
  display: block;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 0;
  text-align: center;
}
.calendar table td.price span {
  font-weight: bold;
}
#calendar label {
  padding: 0;
}
.calendar table td label span,
.calendar table tr.selected td label span {
  background-color: #7a8536;
  color: white;
}
#cal-controls {
  float: right;
  position: absolute;
  right: 30px;
  text-align: right;
  top: 18px;
  width: 200px;
}
#cal-controls a {
  background-color: #c7c1be;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  margin-left: 4px;
  overflow: hidden;
  padding: 3px 4px;
}
#cal-controls a:hover {
  background-color: #a39a93;
}
#cal-controls a.disabled,
#cal-controls a.disabled:hover {
  background-color: #dedbd9;
  color: #c7c1be;
  cursor: auto;
}
@media screen and (min-width: 560px) {
  .calendar {
    padding: 15px 0 0;
  }
  .calendar table:last-child {
    margin: 0 0 13px 0;
  }
}
@media screen and (min-width: 830px) {
  .calendar table {
    float: left;
    overflow: hidden;
    width: 50%;
  }
  .calendar table:nth-child(odd) {
    border-right: 30px solid transparent;
    clear: left;
  }
  .calendar table:nth-child(even) {
    border-left: 30px solid transparent;
  }
}
@media screen and (min-width: 1100px) {
  .key {
    padding: 10px 0 0;
  }
  .key span {
    height: 28px;
    width: 28px;
  }
  #calendar {
    margin-top: 50px;
  }
  .calendar {
    margin-bottom: 50px;
    padding: 50px 0 0;
  }
  .calendar h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .calendar table {
    margin-bottom: 50px;
  }
  .calendar table .month th {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .calendar table .days th {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .calendar table td span {
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}
footer {
  background-color: #333;
  border-top: 1px solid #000;
  margin: 5px 0 0;
  padding: 15px;
}
footer .footer-inner {
  margin: 0 auto;
  min-width: 280px;
  max-width: 560px;
  position: relative;
}
footer .book-now ul {
  margin-top: 0;
}
footer .book-now li {
  margin-bottom: 15px;
}
footer .book-now .btn {
  background-color: gray;
  border-bottom: 1px solid #000;
  border-radius: 3px;
  color: white;
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding: 17px 0 16px;
  text-align: center;
  text-transform: uppercase;
}
footer .book-now .btn-airbnb {
  background-color: #2badf3;
}
footer a {
  color: #0072e5;
  outline: none !important;
  text-decoration: none;
}
footer ul {
  margin: 20px 0 0;
  padding: 0;
}
footer li {
  font-weight: 300;
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li a {
  color: #ccc;
}
footer li span {
  color: #999;
}
footer .copyright {
  display: none;
}
@media screen and (min-width: 560px) {
  footer {
    padding: 30px;
    position: relative;
    z-index: 2;
  }
  footer .contacts ul {
    margin: 30px 0 0;
  }
}
@media screen and (min-width: 830px) {
  footer {
    background-color: #c7c1be;
    border-top: 1px solid #afa7a3;
    margin: 30px auto 0;
    max-width: 560px;
    padding: 0 0 30px;
  }
  footer .book-phone {
    display: none;
  }
  footer .book-airbnb {
    float: right;
  }
  footer .book-airbnb .btn {
    border-bottom: 0;
    background: transparent;
    display: inline;
    color: #0059b2;
  }
  footer li a {
    color: #0059b2;
  }
  footer li span {
    color: #000;
  }
}
@media screen and (min-width: 1100px) {
  footer {
    margin-top: 60px;
    max-width: 830px;
  }
  footer .footer-inner {
    max-width: 830px;
  }
  footer .footer-inner li {
    font-size: 14px;
    line-height: 22px;
  }
}
.swipe {
  overflow: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > figure {
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
}
.swipe figure img {
  float: left;
}
.swipe-nav ul {
  line-height: 6px;
  margin-bottom: 15px;
  padding: 10px 0 0;
  text-align: center;
  width: 100%;
}
.swipe-nav li {
  background-color: #999;
  border-radius: 6px;
  display: inline-block;
  height: 6px;
  line-height: 6px;
  list-style: none;
  margin: 0 3px;
  overflow: hidden;
  padding: 0;
  text-indent: -100%;
  width: 6px;
}
.swipe-nav li.selected {
  background-color: #333;
}
.touch .swipe .btn {
  display: none;
}
.swipe .btn {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -100%;
  top: 0;
  width: 40%;
  z-index: 5;
}
.swipe .btn:hover,
.swipe .btn:active,
.swipe .btn:focus {
  background-color: transparent;
}
.swipe .btn-next {
  left: auto;
  right: 0;
}
.swipe .btn:after {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  content: '';
  display: block;
  height: 15px;
  margin-top: -7px;
  left: 15px;
  position: absolute;
  text-indent: -100%;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 15px;
}
.swipe .btn-next:after {
  left: auto;
  right: 15px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media screen and (min-width: 1100px) {
  .swipe {
    margin: 0 auto 10px;
  }
  .swipe-nav ul {
    margin-bottom: 25px;
  }
  .swipe-nav li {
    border-radius: 10px;
    height: 8px;
    line-height: 8px;
    margin: 0 5px;
    width: 8px;
  }
}
