.text {
    padding: 0 0 10px;
}

.text h1,
.text h2,
.text h3,
.text h4,
.text p,
.text ul,
.text ol {
    padding: 0 15px;
}

.text h1 {
    @extend %serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 50px;
    margin: 10px 0 0;
}

.text h2 {
    @extend %sans-serif;
    font-weight: 400;
    margin: 20px 0 10px;
}

.text h3 {
    @extend %sans-serif;
    font-weight: 400;
    margin: 10px 0 5px;
}

.text ul {
    margin: 0 0 15px;
    padding: 0 15px 5px;
}

.text li {
    list-style: none;
    margin: 0 0 5px;
    line-height: 20px;
    position: relative;
    padding: 0 0 0 1em;
}

.text ul:last-child,
.text li:last-child,
.text p:last-child {
    margin-bottom: 0;
}

.text li:before {
    content: "•";
    font-size: 10px;
    display: inline-block;
    left: 0;
    position: absolute;
}

.text ul + ul:last-child {
    margin: -15px 0 0;
}

.intro + .text {
    padding: 0 0 10px;
}


.attraction {
    padding-top: 10px;
}


//  ## MODULE MEDIA QUERIES  --------------------------------------------------------*/

@media screen and (min-width: $breakpoint-small) {

    .text h1,
    .text h2,
    .text h3,
    .text h4,
    .text p,
    .text ul,
    .text ol {
        padding: 0;
    }

    .text {
        padding: 0 0 10px;
    }

    .text:last-child {
        padding: 0 0 20px;
    }

    .text ul:last-child {
        margin: 0;
        padding: 0;
    }

    .text ul + ul:last-child {
        margin: -10px 0 0;
    }
}

@media screen and (min-width: $breakpoint-medium) {

    .text {
        padding: 10px 0;
    }

    .text:last-child {
        padding: 10px 0 20px;
    }

    .intro + .text {
        padding: 0 0 10px;
    }
}

@media screen and (min-width: $breakpoint-large) {

    .text,
    .text:last-child {
        padding: 20px 0;
    }

    .intro + .text {
        padding: 0 0 20px;
    }

    .text h2 {
        font-size: 28px;
        line-height: 40px;
        margin: 20px 0 20px;
    }

    .text h3 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 40px;
    }

    .text ul {
        margin: 0;
        padding: 0 0 25px;
    }

    .text li {
        line-height: 30px;
        margin: 0 0 15px;
    }

    .text ul:last-child,
    .text li:last-child,
    .text p:last-child {
        margin-bottom: 0;
    }
}