.key {
    padding: 10px 0 0;
}

.key span {
    display: block;
    float: left;
    height: 24px;
    margin-right: 10px;
    width: 24px;
}

.key .available span {
    background-color: lighten(#7A8536, 2%);
}

.key .unavailable span {
    background-color: #C2A7A7;
}

.calendar {
    margin-bottom: 0;
    padding: 15px 15px 0;
    position: relative;
}

.calendar h2 {
    @extend %sans-serif;
    font-weight: 400;
}

#calendar {
    @extend %clearfix;
    margin-top: 25px;
}

.calendar table {
    @extend %sans-serif;
    font-weight: 400;
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
}

.calendar table:last-child {
    margin: 0 0 13px 0;
}

.calendar table th {
    font-size: 13px;
    line-height: 16px;
    padding: 2px 0;
    text-align: left;
}

.calendar table tr.days th {
    color: #99918B;
    font-weight: normal;
    text-align: center;
}

.calendar table tr.unavailable td span {
    background-color: #C2A7A7;
    color: #DEDBD9;
}

.calendar table td {
    padding: 1px;
}

.calendar table td span {
    background-color: lighten(#7A8536, 2%);
    color: lighten($color-page-base, 5%);
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 0;
    text-align: center;
}

.calendar table td.price span {
    font-weight: bold;
}

#calendar label {
    padding: 0;
}

.calendar table td label span,
.calendar table tr.selected td label span {
    background-color: #7A8536;
    color: white;
}

#cal-controls {
    float: right;
    position: absolute;
    right: 30px;
    text-align: right;
    top: 18px;
    width: 200px;
}

#cal-controls a {
    background-color: #C7C1BE;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    margin-left: 4px;
    overflow: hidden;
    padding: 3px 4px;
}

#cal-controls a:hover {
    background-color: #A39A93;
}

#cal-controls a.disabled,
#cal-controls a.disabled:hover {
    background-color: #DEDBD9;
    color: #C7C1BE;
    cursor: auto;
}



//  ## MODULE MEDIA QUERIES  --------------------------------------------------------*/

@media screen and (min-width: $breakpoint-small) {

    .calendar {
        padding: 15px 0 0;
    }

    .calendar table:last-child {
        margin: 0 0 13px 0;
    }
}

@media screen and (min-width: $breakpoint-medium) {

    .calendar table {
        float: left;
        overflow: hidden;
        width: 50%;
    }

    .calendar table:nth-child(odd) {
        border-right: 30px solid transparent;
        clear: left;
    }

    .calendar table:nth-child(even) {
        border-left: 30px solid transparent;
    }
}

@media screen and (min-width: $breakpoint-large) {

    .key {
        padding: 10px 0 0;
    }

    .key span {
        height: 28px;
        width: 28px;
    }

    #calendar {
        margin-top: 50px;
    }

    .calendar {
        margin-bottom: 50px;
        padding: 50px 0 0;
    }

    .calendar h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .calendar table {
        margin-bottom: 50px;
    }

    .calendar table .month th {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .calendar table .days th {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }

    .calendar table td span {
        font-size: 15px;
        padding: 10px 0;
        text-align: center;
    }
}