$color-page-base: #c7c1be;

$color-theme-primary: darken($color-page-base, 20%);
$color-theme-secondary: #444444;

$color-nav-base: #444444;
$color-nav-text: #abaead;
$color-nav-selected-base: lighten($color-nav-base, 20%);
$color-nav-selected-text: #fff;

$tint-darken: 10%;
$tint-lighten: 10%;

$breakpoint-small: 560px;
$breakpoint-medium: 830px;
$breakpoint-large: 1100px;

$container-medium: 560px;
$container-large: 830px;

%clearfix {
  overflow: hidden;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
